@model ProductMvc.Models.Produk

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nama_Barang" class="control-label"></label>
                <input asp-for="Nama_Barang" class="form-control" />
                <span asp-validation-for="Nama_Barang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kode_Barang" class="control-label"></label>
                <input asp-for="Kode_Barang" class="form-control" />
                <span asp-validation-for="Kode_Barang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jumlah_Barang" class="control-label"></label>
                <input asp-for="Jumlah_Barang" class="form-control" />
                <span asp-validation-for="Jumlah_Barang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label"></label>
                <input asp-for="Tanggal" class="form-control" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
